/******************************************************************
Color
******************************************************************/
$cWhite: white;
$cBlack: black;





/******************************************************************
Size
******************************************************************/
$innerMaxWidth: 1024px;
